<?xml version="1.0" encoding="UTF-8"?>
<Config>
  <Sites>
    <model name="cryptoModel"
           projectId="cryptodb"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="(?:^C$|^C\.?\w*\s+(?:hominis|parvum)(\s+annotated proteins)?)" />
    <model name="plasmoDbModel"
           projectId="plasmodb"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="(?:^P$|^P\.?\w*\s+(?:falciparum|vivax|berghei|yoelii|chabaudi|knowlesi)(\s+annotated proteins)?)" />
    <model name="toxoDbModel" 
           projectId="toxodb"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="(?:^T$|^T\.?\w*\s+(?:gondii)(\s+annotated proteins)?)" />
  </Sites>
  <MappingFile name="QueryMap.xml"/>
  <Timeout minutes="2"/>
</Config>
