<?xml version="1.0" encoding="UTF-8"?>
<!-- projectId should be the same as in mat views -->
<!-- marker should have all the possible values for organism (or the param used to select site) -->
<!-- QueryMap needs to be in gus_home/config (not used currently) -->

<Config>
  <Sites>
    <model name="AmoebaDB"
           projectId="AmoebaDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^E$|^Entamoeba\s*.*" />
    <model name="CryptoDB"
           projectId="CryptoDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^C$|^Cryptosporidium\s*.*" />
    <model name="GiardiaDB"
           projectId="GiardiaDB"
           url="(URL FOR WSF WEB SERVICE)"
           marker="^G$|^Giardia\s*.*" />
    <model name="MicrosporidiaDB"
           projectId="MicrosporidiaDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^E$|^Encephalitozoon\s*.*|^Enterocytozoon\s*.*|^Anncaliia\s*.*|^Edhazardia\s*.*|^Nosema\s*.*|^Vavraia\s*.*|^Vittaforma\s*.*" />
    <model name="PiroplasmaDB"
           projectId="PiroplasmaDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^T$|^Theileria\s*.*|^Babesia\s*.*" />
    <model name="PlasmoDB"
           projectId="PlasmoDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^P$|^Plasmodium\s*.*" />
    <model name="ToxoDB" 
           projectId="ToxoDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^T$|^Toxoplasma\s*.*|^Neospora\s*.*|^Elmeria\s*.*" />
    <model name="TrichDB"
           projectId="TrichDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^Tr$|^Trichomonas\s*.*" />
    <model name="TriTrypDB"
           projectId="TriTrypDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^T$|^Trypanosoma\s*.*|^Leishmania\s*.*|^Crithidia\s*.*" />


  </Sites>
  <MappingFile name="QueryMap.xml"/>
  <Timeout minutes="2"/>
</Config>
