<?xml version="1.0" encoding="UTF-8"?>
<!-- projectId should be the same as in mat views -->
<!-- marker should have all the possible values for organism (or the param used to select site) -->
<!-- QueryMap needs to be in gus_home/config (not used currently) -->

<Config>
  <Sites>
    <model name="AmoebaDB"
           projectId="AmoebaDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^Entamoeba\s*.*" />
    <model name="CryptoDB"
           projectId="CryptoDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^Cryptosporidium\s*.*" />
    <model name="GiardiaDB"
           projectId="GiardiaDB"
           url="(URL FOR WSF WEB SERVICE)"
           marker="^Giardia\s*.*" />
    <model name="MicrosporidiaDB"
           projectId="MicrosporidiaDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^Encephalitozoon\s*.*|^Enterocytozoon\s*.*|^Anncaliia\s*.*|^Edhazardia\s*.*|^Hamiltosporidium\s*.*|^Nematocida\s*.*|^Nosema\s*.*|^Octosporea\s*.*|^Vavraia\s*.*|^Vittaforma\s*.*" />
    <model name="PiroplasmaDB"
           projectId="PiroplasmaDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^Theileria\s*.*|^Babesia\s*.*" />
    <model name="PlasmoDB"
           projectId="PlasmoDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^Plasmodium\s*.*" />
    <model name="ToxoDB" 
           projectId="ToxoDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^Toxoplasma\s*.*|^Neospora\s*.*|^Eimeria\s*.*|^Gregarina\s*.*" />
    <model name="TrichDB"
           projectId="TrichDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^Trichomonas\s*.*" />
    <model name="TriTrypDB"
           projectId="TriTrypDB"
           url="(URL FOR WSF WEB SERVICE)" 
           marker="^Trypanosoma\s*.*|^Leishmania\s*.*|^Crithidia\s*.*|^Endotrypanum\s*.*" />


  </Sites>
  <MappingFile name="QueryMap.xml"/>
  <Timeout minutes="2"/>
</Config>
