<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

  <comment>The configuration file for HighSpeedSnpSearch WSF Plugins.</comment>

  <!-- $Revision$ -->

  <entry key="jobsDir">${highSpeedSnpSearchJobsDir}</entry>
  <entry key="jobsDir">${highSpeedSnpSearchIdPrefix}</entry>

</properties>
