<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

  <comment>The configuration file for HighSpeedChipSnpSearch WSF Plugins.</comment>

  <!-- $Revision: 59635 $ -->

  <entry key="jobsDir">${highSpeedChipSnpSearchJobsDir}</entry>
  <entry key="idPrefix">${highSpeedChipSnpSearchIdPrefix}</entry>

</properties>
