<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>The configuration file for MotifSearch WSF Plugin.</comment>

<entry key="UseProjectId">yes</entry>
<entry key="DataDir">/var/www/Common/devSiteFilesMirror/webServices/TriTrypDB/release-1.1/motif</entry>

<entry key="SourceIdRegex"><![CDATA[^>(?:\w*\|)*(\S+)]]></entry>
<entry key="OrganismRegex"><![CDATA[\|\s*organism=([^_ ]+)]]></entry>

<!-- the organism name used in the following mapping section must be matched with the organism found by the above regex -->
<entry key="ProjectMap_Cryptosporidium">CryptoDB</entry>
<entry key="ProjectMap_Giardia">GiardiaDB</entry>
<entry key="ProjectMap_Plasmodium">PlasmoDB</entry>
<entry key="ProjectMap_Neospora">ToxoDB</entry>
<entry key="ProjectMap_Toxoplasma">ToxoDB</entry>
<entry key="ProjectMap_Trichomonas">TrichDB</entry>
<entry key="ProjectMap_Leishmania">TriTrypDB</entry>
<entry key="ProjectMap_Trypanosoma">TriTrypDB</entry>

<entry key="ProjectMap_Others">Others</entry>

</properties>
