<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>The configuration file for WU-BLAST Processor.</comment>
<entry key="AppPath">/opt/WU_BLAST/</entry>
<entry key="DataPath">...</entry>
<entry key="Timeout">120</entry>
<entry key="TempPath">...</entry>
<entry key="UseProjectId">yes</entry>
<entry key="SourceIdRegex"><![CDATA[^\S+?\|\S+?\|(\S+?)\|]]></entry>
<entry key="OrganismRegex"><![CDATA[^(\S+?)\|]]></entry>
<entry key="ScoreRegex"><![CDATA[^.+?\s\s\s+(?:[+-]\d\s+)?(\d+)]]></entry>
</properties>
